@model IEnumerable<ViewModel.ViewModels.VoucherVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách Voucher</h1>

@if (TempData["Success"] != null)
{
    <div class="alert-primary">@TempData["Success"]</div>
}

<p>
    <a id="createbutton" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VoucherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoucherCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeVoucher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VoucherCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeVoucher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                @if (item.DiscountAmount != null)
                {
                <td>
                    @item.DiscountAmount.Value.ToString("#,##0") VNĐ
                </td>
                }
                else
                {
                    <td>

                    </td>
                }    
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a style="width:50px" id="editplace" href="/Admin/Voucher/Edit/?IdVoucher=@item.IdVoucher">Edit</a>
                    <a id="deleteplace" href="/Admin/Voucher/Delete/?IdVoucher=@item.IdVoucher">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
