@model ViewModel.ViewModels.OrderDetailsUser

@{
    ViewData["Title"] = "Details";
}


<div style="display:flex">
    <div style="font-size:22px;font-weight:bold;float:left">Tình trạng </div>

</div>
<div style="margin-bottom:40px" class="row">

    <div  class="col-6" >
        <select onchange="change()" id="a" style="width:400px" asp-items="@ViewBag.Status" class="form-select col-md-4" >
        <option>@ViewBag.GetStatus</option>
    
        </select>
    </div>
    <div style="border:1px solid black; border-radius:10px" class="col-6">

        <div class="row" >
            <div class="col-6">
                <div>
                    Họ tên khách
                </div>
                <div>
                    Email khách
                </div>
                <div>
                    Số điện thoại
                </div>
                <div>
                    Địa chỉ
                </div>
                <div>
                    Ghi chú
                </div>
            </div>
            <div class="col-6" style="font-weight:bold">
                <div>
                    @Model.NameShip
                </div>
                <div id="email" data-value="@Model.EmailShip">
                    @Model.EmailShip
                </div>
                <div>
                    @Model.NumberShip
                </div>
                <div>
                    @Model.AddressShip
                </div>
                <div>
                    @Model.NoticeShip
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table" >
    <thead>
        <tr>
            <th>
                Mã đơn hàng
            </th>
            <th>
                Tên
            </th>
            <th>
               Số lượng
            </th>
            <th>
                Giá 
            </th>
            <th>
                Hình ảnh
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderDetailsVms)
        {
            <tr>
                <td id="cc" data-value="@item.IdOrder">
                    @Html.DisplayFor(modelItem => item.IdOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quality)
                </td>
                <td>
                    @item.Price.ToString("#,##0") VNĐ
                </td>
                <td>
                    <img src="~/@item.PhotoReview" class="rounded-circle" height="50" width="50" />
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="row" style="display:block">
    <div style="height:30px;width:390px;text-align:center;margin-bottom:5px" class="alert-primary col-sm-4">Gửi Mail tới khách hàng </div>
    <div>
        <a id="delivery" class="btn btn-warning col-sm-2" style="display:inline-block">Đơn hàng đang vận chuyển</a>
        <a id="completed" class="btn btn-success col-sm-2" style="display:inline-block">Đơn hàng đã hoàn thành</a>
    </div>
</div>




@section Scripts{ 

<script>

    function change() {
        var IdOrder = document.getElementById("cc").getAttribute("data-value");
        var x = $("#a option:selected").text();
        $.ajax({
            type: "POST",
             url: '@Url.Action("Change","Orders")',
                data:
                {
                    IdOrder: IdOrder,
                    x: x
                },
                success: function () {
                    swal("Notification","Change Status Success")
            },
            error: function () {
                swal("Notification", "Change Status Failure")
            }
        });
    }


</script>
<script>
    $(document).ready(function () {
        $("#receive").click(function (event) {
            event.preventDefault();
            var IdOrder = document.getElementById("cc").getAttribute("data-value");
            $.ajax({
                type: "POST",
                url: '@Url.Action("SendOrderReceived", "Contact")',
                data:
                {
                    IdOrder: IdOrder
                },
                success: function () {
                    swal("Notification", "Send Email Success")
                },
                error: function () {
                    swal("Notification", "Send Email Fail")
                }
            });
        });
    });

        $(document).ready(function(){
        $("#delivery").click(function (event)
        {
            event.preventDefault();
            var IdOrder = document.getElementById("cc").getAttribute("data-value");
            var  Email= document.getElementById("email").getAttribute("data-value");
            $.ajax({
                type: "POST",
                url: '@Url.Action("SendOrderDelivered", "Contact")',
                data:
                {
                    IdOrder: IdOrder,
                    Email: Email
                },
                success: function () {
                    swal("Notification","Send Email Success")
                },
                error: function () {
                    swal("Notification","Send Email Fail")
                }
            });
        });
    });

     $(document).ready(function () {
        $("#completed").click(function (event) {
            event.preventDefault();
            var IdOrder = document.getElementById("cc").getAttribute("data-value");
            $.ajax({
                type: "POST",
                url: '@Url.Action("SendOrderCompleted", "Contact")',
                data:
                {
                    IdOrder: IdOrder
                },
                success: function () {
                    swal("Notification", "Send Email Success")
                },
                error: function () {
                    swal("Notification", "Send Email Fail")
                }
            });
        });
    });
</script>

}