@model IEnumerable<ViewModel.ViewModels.OrdersVm>
@using X.PagedList.Mvc.Core
@using X.PagedList

@{
    ViewData["Title"] = "Index";
}

<h1>Order</h1>


<body>
    @{
        var stt = 1;
    }

    <table class="table table-bordered table-primary">
        <thead>
            <tr>
                <th>

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDay)
                </th>
                <th>
                    Mã sử dụng
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@(stt++)</th>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @item.TotalPice.ToString("#,##0") VNĐ
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDay)
                    </td>
                    <td>
                        @item.VoucherCode
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td><a id="detailsbutton" href="@Url.ActionLink("Details","Orders",new { IdOrder = item.IdOrder })">Details</a> </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
        new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
        {
            LiElementClasses = new string[] { "page-item" },
            PageClasses = new string[] { "page-link" }

        })
    <a class="btn btn-success" href="/Admin/Orders/Excel">Export Excel</a>



</body>


<script>

    function clickkk() {
        var IdOrder = document.getElementById('cc').getAttribute('data-value');
        alert(IdOrder);
        @*var status2 = $("#a option:selected").text();
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Change","Orders")',
                data:
                {
                    IdOrder: IdOrder,
                    x: status2
                },
                success: function () {
                    alert("ssds,sad");
                }
            });*@
    };

</script>





