@model ViewModel.ViewModels.HomeIndexVm
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <!-- Step 1 - Include the fusioncharts core library -->
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-cartesian.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-pie.min.js"></script>
    <style>

        #container {
            width: 100%;
            height: 300px;
            margin: 0;
            padding: 0;
        }
        #container3 {
            width: 100%;
            height: 300px;
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<main>
    <div class="container-fluid px-4">
        <div id="title">
            <h1 class="mt-4" style="color:brown" >Bảng điều khiển</h1>
        </div>
        <div style="background-color:#01DFD7;border-radius:20px" class="alert col-sm-3 ">
            @if (Startup.EnableSignalR)
            {
                <div class="d-inline-flex">
                    <h5 class="d-inline mr-2"><icon class="fa fa-users"></icon>   Visitor Online:  <span style="font-size:20px" class="online-count "></span></h5>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div style="height:170px;border-radius:30px" class="card bg-primary text-white mb-4">
                    <div style="text-align:center" class="card-body">Tổng số đơn hàng hôm nay:</div>
                    <div id="total"> @ViewBag.GetOrder</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="@Url.Action("GetOrdersPerDayDetails","Home")">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div style="height: 170px; border-radius: 30px" class="card bg-warning text-white mb-4">
                    <div style="text-align:center" class="card-body">Đơn hàng đang xử lý hôm này </div>
                    <div id="total">@ViewBag.GetProcess </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="@Url.Action("GetALlProcessOrdersPerDayDetails","Home")">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div style="height: 170px; border-radius: 30px" class="card bg-success text-white mb-4">
                    <div style="text-align:center" class="card-body">ĐƠN HÀNG XỬ LÝ THÀNH CÔNG</div>
                    @{
                        if (ViewBag.GetAD != null)
                        {
                            <div id="total">@ViewBag.GetDelivery </div>
                        }
                        else
                        {
                            <div id="total">0</div>
                        }
                    }
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div style="height: 170px; border-radius: 30px" class="card bg-danger text-white mb-4">
                    <div style="text-align:center" class="card-body">Số khách truy cập hôm nay</div>
                    <div id="total">@ViewBag.GetIP </div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area me-1"></i>
                        Thống kê lượt truy cập trong tháng
                    </div>
                    <div id="container" ></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Thống kê sản phẩm bán chạy trong ngày
                    </div>
                    <div id="container3"></div>
                </div>
            </div>
        </div>
        
    </div>
</main>

@section Scripts
{
    <script>
    var data = [];
        var model =@Html.Raw(JsonConvert.SerializeObject(this.Model.analystAccessVms));
        var j = 0;
        for (var i = 1; i <= 31; i++) {
            if (model[j].Day == i) {
                data.push([i, model[j].TotalAccess])
                j++;
            }
            else {
                data.push([i, 0]);
            }
        }



        // create a chart
        chart = anychart.area();

        // create an area series and set the data
        var series = chart.area(data);
        series.name("Tổng lượt truy cập");
        // set the container id
        chart.container("container");

        // initiate drawing the chart
        chart.draw();

        ///////////////////////////////////////////////////
         var data4 = [];
        var modelset =@Html.Raw(JsonConvert.SerializeObject(this.Model.quantityProducts));


        for (var i = 0; i < modelset.length; i++) {
            data4.push([modelset[i].ProductName, modelset[i].TotalQuantity, modelset[i].Price]);
        }


        var dataSet = anychart.data.set(data4);

        // map data for the first series, take x from the zero column and value from the first column of data set
        var firstSeriesData = dataSet.mapAs({ x: 0, value: 1 });

        // map data for the second series, take x from the zero column and value from the second column of data set
        var secondSeriesData = dataSet.mapAs({ x: 0, value: 2 });

        // map data for the third series, take x from the zero column and value from the third column of data set
        var thirdSeriesData = dataSet.mapAs({ x: 0, value: 3 });

        // create column chart
        var chartset = anychart.column();

        // turn on chart animation
        chartset.animation(true);

        // set chart title text settings
        chartset.title(' ');

        // create scale for line series and extraYAxis
        // it force line series to not stuck values with over series
        var scale = anychart.scales.linear();

        // create extra axis on the right side of chart
        chartset
            .yAxis(1)
            .orientation('right')
            .scale(scale);

        // create second series with mapped data
        var columnSeries = chartset.column(secondSeriesData);
        columnSeries.name('Tổng doanh thu');

        // create third series with mapped data
        var splineSeries = chartset.splineArea(thirdSeriesData);
        splineSeries.name('Spline');

        // create line series and set scale for it
        var lineSeries = chartset.spline(firstSeriesData);
        lineSeries.name('Số lượng').yScale(scale).stroke('2.5 #ef6c00');

        chartset.tooltip().displayMode('union');

        chartset.interactivity().hoverMode('by-x');

        // set container id for the chart
        chartset.container('container3');

        // initiate chart drawing
        chartset.draw();












        function clickone() {
            $("#one").css("display", "block");
            $("#two").css("display", "none");
            $("#three").css("display", "none");
        }
    </script>
}