@model IEnumerable<ViewModel.ViewModels.CategoryVm>
@using X.PagedList.Mvc.Core
@using X.PagedList

<h1>Danh sách loại</h1>

@if (ViewBag.Success != null)
{
    <div class="alert-primary">@ViewBag.Success</div>

}
@if (ViewBag.Edit != null)
{
    <div class="alert-primary">@ViewBag.Edit</div>
}
@if (ViewBag.Delete != null)
{
    <div class="alert-primary">@ViewBag.Delete</div>
}

<p>
    <a id="createbutton" asp-action="Create">Tạo mới</a>
</p>

<div style="margin-top:30px;margin-bottom:30px">
    <label>Tìm kiếm theo tên loại</label>
    <input id="namecate" type="search" class="form-control " style="width:300px" />
    <a id="searchcate" class="btn btn-primary" >Tìm kiếm</a>
</div>


<table  id="showcate" class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameCategory)
            </th>
            <th>
                Hiển thị
            </th>
            <th>
                Loại cha
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameCategory)
            </td>
            <td>
                @if (item.IsShow == true)
                {
                    <a class="clickcate" id="change_@item.IdCategory" data-idproduct="@item.IdCategory" href="#"><img src="~/Images/icons8-like-1.png" /></a>
                }
                else
                {
                    <a class="clickcate" id="change_@item.IdCategory" data-idproduct="@item.IdCategory" href="#"><img src="~/Images/icons8-like-2.png" /></a>
                }
            </td>
            <td>
                @item.NameParent
            </td>

            <td>
                <a id="editplace" href="/Admin/Category/Edit/?IdCategory=@item.IdCategory">Edit</a>

            </td>
        </tr>
        }


    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
    new X.PagedList.Mvc.Common.PagedListRenderOptionsBase
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }

    })

@section Scripts
{
    <script>
    $(document).ready(function () {
        $(".clickcate").click(function () {
            event.preventDefault();
            Swal.fire({
                showDenyButton: true,
                title: 'Thông báo',
                text: 'Đồng ý thay đổi trạng thái? ',
                icon: 'warning',
                confirmButtonText: 'Đồng ý',
                denyButtonText: 'Hủy bỏ',
            }).then((result) => {
                if (result.isConfirmed) {
                    var blogidd = parseInt($(this).attr("data-idproduct"));
                    $.ajax({
                        type: "POST",               //update
                        url: '@Url.Action("ChangeIsShow","Category")',
                        data: {
                            IdCategory: blogidd,
                        },
                        success: function (result) {
                            window.alert = 'Thay đổi thành công'
                            window.location.href = '@Url.Action("Index", "Category")'
                        }
                    });
                } else if (result.isDenied) {
                    Swal.fire('Trạng thái chưa được thay đổi,vui lòng thử lại', '', 'info')
                }
            })
        });
    });
    </script>
}